body {
	/* Значення за замовченням */
	font-family: "Inter";
	line-height: 100%;
	font-size: 16px;
	background-color: #F1F1F1;
	color: #0C0C54;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	max-width: 1245px;
	/* 1215px + paddind (15px * 2) */
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	/* відступ безпеки */
}

@media (max-width:1199.98px) {
	[class*="__container"] {
		max-width: 970px;
	}
}

@media (max-width:990.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}

@media (max-width:767.98px) {
	[class*="__container"] {
		max-width: none;
		padding: 0px 15px;
	}
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/* ======= header ===================================================== */

.header {
	padding-top: 56px;
	padding-bottom: 114px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	gap: 10px;

}


.header__logo-box {
	display: flex;
	align-items: center;
}

.header__logo {
	max-width: 50px;
	max-height: 40px;
}

.header__logo img {
	max-width: 100%;
}

.header__logo-name {
	font-weight: 700;
	font-size: 36px;
	line-height: 160%;
	color: #FFFFFF;
	margin-left: 8px;
}

.header__started-box {
	display: flex;
	align-items: center;
}

.header__started {
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #FFFFFF;
	padding: 12px 24px;
	border: 1px solid #FFFFFF;
	border-radius: 24px;
	transition: all 0.3s ease 0s;
}

.header__started:hover {
	background-color: #F5F5F5;
	color: #0C0C54;
}

@media (max-width:767.98px) {
	.header__started {
		padding: 4px;
		display: flex;
		text-align: center;
	}

	.header {
		padding-top: 36px;
		padding-bottom: 70px;
	}
}



/* =========   page-main   =============== */

/* =========   page-main   =============== */

/* =========   page-main   =============== */


.page-main {
	padding-top: 114px;
	color: #FFFFFF;
	position: relative;
}

.page-main__container {}

.page-main__title {
	font-style: normal;
	font-weight: 700;
	font-size: 96px;
	line-height: 120%;
	margin-bottom: 24px;
}

.page-main__text {
	font-weight: 300;
	font-size: 32px;
	line-height: 160%;
	margin-bottom: 56px;
	max-width: 960px;
}

.page-main__contact-link {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #0C0C54;
	background-color: #FFFFFF;
	border-radius: 24px;
	padding: 16px 32px;
	margin-bottom: 283px;
}

@media (max-width:767.98px) {
	.page-main {
		padding-top: 0px;
	}

	.page-main__title {
		font-style: normal;
		font-weight: 700;
		font-size: 52px;
		line-height: 120%;
		margin-bottom: 24px;
	}

	.page-main__text {
		font-weight: 300;
		font-size: 24px;
		line-height: 160%;
		margin-bottom: 24px;
	}

	.page-main__contact-link {
		text-align: center;
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-weight: 400;
		font-size: 20px;
		line-height: 120%;
		color: #0C0C54;
		background-color: #FFFFFF;
		border-radius: 24px;
		padding: 10px 24px;
		margin-bottom: 150px;
	}
}

.page-main__partner-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 128px;
}

@media (max-width:1199.98px) {
	.page-main__partner-box {
		display: flex;
		flex-direction: row;
		row-gap: 25px;
		column-gap: 25px;
	}
}

@media (max-width:424.98px) {
	.page-main__partner-box {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}
}

.page-main__partner {}


.page-main__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.page-main__bg img {
	/* padding-top: -180px; */
	object-position: top;


}

/* =========   page__productivity   =============== */

.page__productivity {
	margin-top: 128px;
}

.productivity__container {}

.productivity__content {
	display: flex;
}

.productivity__text-content {}

.productivity__sub-title {
	font-weight: 500;
	font-size: 32px;
	line-height: 120%;
	color: #776AE3;
	margin-bottom: 8px;
}

.productivity__title {
	font-weight: 700;
	font-size: 64px;
	line-height: 120%;
	margin-bottom: 24px;
}

.productivity__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	margin-bottom: 24px;
}

.productivity__items {
	margin-bottom: 56px;
}

.productivity__item {
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
}

.productivity__item li:not(:last-child) {
	margin-bottom: 16px;
}

.productivity__button {}

.button {
	text-transform: uppercase;
	display: inline-block;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #FFFFFF;
	padding: 16px 32px;
	background: #776AE3;
	border-radius: 24px;
}

.productivity__pic-content {}