@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2") format('woff2'),
		url("../fonts/Lato-Regular.woff") format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2") format('woff2'),
		url("../fonts/Lato-Bold.woff") format('woff');
	font-display: swap;
	font-weight: bold;
	font-style: normal;

}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff2") format('woff2'),
		url("../fonts/Lato-Black.woff") format('woff');
	font-display: swap;
	font-weight: 900;
	font-style: normal;

}


/* margin-left 50px - для кращого візуально сприйняття в браузері */
main {
	font-family: "Lato";
	font-weight: 400;
	font-size: 16px;
	max-width: 810px;
	margin-left: 50px;
	color: #424551;
}

.main-h1 {
	font-weight: 900;
	font-size: 46px;
	margin-bottom: 92px;
	color: #1E212C;
}

.main-img {
	margin-bottom: 60px;
}

.secondary-h2 {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 24px;
	color: #1E212C;
}

.p-2-text {
	margin-bottom: 24px;
}

.p-2-all-text {
	margin-bottom: 48px;
}

.bold-text {
	font-weight: 700;
	font-size: 20px;
	margin-left: 58px;
	margin-bottom: 48px;
	color: #1E212C;
}

.mauris {
	margin-bottom: 24px;
}

li {
	margin-left: 16px;
	margin-bottom: 4px;
}

ul {
	margin-bottom: 24px;

}

.end-text {
	margin-bottom: 60px;
}

/* Домашка */

.home-work {
	background-color: azure;
	max-width: 810px;
	border: #1E212C;
}

h3 {
	font-size: 75px;
	background-color: aqua;
	border-radius: 15px;
	text-align: center;
}

.home-work-1 p {
	color: blue;
}

.home-work-1 span {
	color: rgb(43, 255, 0);
}

.home-work-2 {
	background-color: black;
	max-width: 750px;
	max-height: 750px;
	color: beige;
	border: 15px solid #7b8039;
	}
.turtle {
	border-radius: 50%;
	width: 500px;
	height: 500px;
	border: 7px solid #424551;
	box-shadow: 5px 5px 15px #575a66;
	opacity: 0.1;
	padding: 30px;
	}

.home-work-3 {
width: 50%;
margin: 0 auto;
text-align: center;
}

.box-shadow {
	background-color: #7b8039;
	height: 150px;
	width: 250px;
	margin: 0 auto;
	padding: 15px;
	margin-bottom: 50px;
	box-shadow: inset 5px 5px 15px;
	}

.visibility {
	background-color: bisque;
	height: 150px;
	width: 250px;
	margin: 0 auto;
	padding: 15px;
	visibility: hidden;
}
.orange {
	color: orange;
	}