@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2") format('woff2'),
		url("../fonts/Lato-Regular.woff") format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2") format('woff2'),
		url("../fonts/Lato-Bold.woff") format('woff');
	font-display: swap;
	font-weight: bold;
	font-style: normal;

}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff2") format('woff2'),
		url("../fonts/Lato-Black.woff") format('woff');
	font-display: swap;
	font-weight: 900;
	font-style: normal;

}

.article {
}

.article__container {
}

.article__title {
}

.article__image {
}

.article__main-text {
}

.article__text {
}

.article__quote {
}


/*  ужас :( */

